docker.enabled         = true
process {
    // Process-specific containers
    withName:EXTRACT_MGX {
        container = 'chiamh/bt2.4.4:latest'
    } 
	withName:EXTRACT_MTX {
        container = 'chiamh/bt2.4.4:latest'
    }
	withName:ANNOT_MGX {
        container = 'chiamh/microbeannotator:latest'
    }
	withName:ANNOT_MTX {
        container = 'chiamh/microbeannotator:latest'
    }

}
