docker.enabled         = true
process {
    // Process-specific containers
    withName:EXTRACT_ANNOT_MGX {
        container = 'chiamh/microbeannotator:latest'
    } 
	withName:EXTRACT_ANNOT_MTX {
        container = 'cchiamh/microbeannotator:latest'
    }
	withName:ANNOT_MGX {
        container = 'chiamh/microbeannotator:latest'
    }
	withName:ANNOT_MTX {
        container = 'chiamh/microbeannotator:latest'
    }

}
